## Matplotlib Assignment

In [1]:
# import pandas
import pandas as pd

# import matplotlib
import matplotlib.pyplot as plt

In [3]:
df=pd.read_csv('company_sales_data.csv')

In [4]:
df.head()

,month_number,facecream,facewash,toothpaste,bathingsoap,shampoo,moisturizer,total_units,total_profit
0,1,2500,1500,5200,9200,1200,1500,21100,211000
1,2,2630,1200,5100,6100,2100,1200,18330,183300
2,3,2140,1340,4550,9550,3550,1340,22470,224700
3,4,3400,1130,5870,8870,1870,1130,22270,222700
4,5,3600,1740,4560,7760,1560,1740,20960,209600

### Task 1: Read the `total_profit` of all months and display it using a line plot.

### Task 2: Read all the different product sales data and display it using a multiline plot.

### Task 3: Read the `total_profit` of each month and display it using a histogram to find out which profit ranges are the most common.